@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="continer">
    <main role="main" class="pb-3" style="background:papayawhip;padding:20px;border-radius:20px;opacity:.95;">
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
</main>
</div>
